<div align="middle">
<br>
<br>
<h1>Boulder Road Runners Member Login</h1>
<br>
<br>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <br>
      <%= f.submit "Sign In", class: "btn btn-medium btn-primary" %>
    <% end %>
    
    <p>New member? <strong><%= link_to "Sign up here!", new_member_path %></strong></p>
  </div>
</div>
</div>