<div align="middle">
        <div class="navbar navbar-fluid">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
              </a>
              <a class="brand"/>Boulder Road Runners</a>
              <div class = "nav-collapse collapse">
                <ul class="nav pull-right">

                  <li><a href="/">Home</a></li>
                </ul>
               
                      
              </div>
            </div>
          </div>
        </div>

<br>
<br>
<h1>Boulder Road Runners Member Login</h1>
<br>
 
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
<br>

<div class="row-fluid">
<div class="span12">  
    <%= form_for(:session, url: sessions_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <br>
      <%= f.submit "Sign In", class: "btn btn-medium btn-primary" %>
    <% end %>
    
    <p>New member? <strong><%= link_to "Sign up here!", new_member_path %></strong></p>
  </div>
</div>
</div>