<%= render "navbar" %>

<h1>Edit Member Profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@member) do |f| %>
    
      <%= f.label :email, "Email Address*" %>
      <%= f.text_field :email %>
      
      <%= f.label :password, "Password*" %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Re-enter Password*" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :first_name, "First Name*" %>
      <%= f.text_field :first_name %>
      
      <%= f.label :middle_name, "Middle Name" %>
      <%= f.text_field :middle_name %>
      
      <%= f.label :last_name, "Last Name*" %>
      <%= f.text_field :last_name %>
      
      <%= f.label :address1, "Address 1*" %>
      <%= f.text_field :address1 %>
      
      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2 %>
      
      <%= f.label :city, "City*" %>
      <%= f.text_field :city %>
      
      <%= f.label :state, "State*" %>
      <%= f.text_field :state %>
            
      <%= f.label :zip_code, "Zip Code*" %>
      <%= f.text_field :zip_code %>
      
      <%= f.label :phone1, "Phone Number*" %>
      <%= f.text_field :phone1 %>
      
      <%= f.label :phone2, "Secondary Phone Number" %>
      <%= f.text_field :phone2 %>     
      
      <%= f.label :birth_date, "Birth Date (MM/DD/YYYY)*" %>
      <%= f.text_field :birth_date %>
      
      <%= f.label :gender, "Gender*" %>
      <%= f.radio_button :gender, "M" %> Male
      <%= f.radio_button :gender, "F" %> Female
      <br>
      <br>
      <p>* Denotes required fields</p>
      
      <%= f.submit "Edit", class: "btn btn-medium btn-primary" %>
    <% end %>
    
  </div>
</div>